@model Car_delearship.Models.ViewModel.ModelListViewModel
@{
    ViewData["Title"] = "Models";
    Layout = null;
}

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/style/css/bootstrap.min.css">
<link rel="stylesheet" href="~/style/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link rel="stylesheet" href="~/style/css/lightbox.min.css" />


<!-- Slick -->
<link rel="stylesheet" type="text/css" href="~/style/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/style/slick/slick-theme.css" />


<link rel="stylesheet" href="~/Test/css/lightslider.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="www.lisautosales.co.za">Lis Auto Sales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Action("Dashboard")">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Makes")">Makes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Models")">Models</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br />
<br />
<br />
<div class="col-10">
    <h2>Models</h2>
    @using (Html.BeginForm("Models", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div clas="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <label for="makeTextBox" class="mr-2 mt-1">New Model</label>
                            @Html.TextBoxFor(m => m.NewModel.ModelName, new { @class = "form-control" })
                            <div class="ml-4">@Html.DropDownListFor(m => m.SelectedMakeID, Model.MakesList, new { @class = "form-control" })</div>
                            <div class="ml-2">@Html.DropDownListFor(m => m.SelectedBodyStyleID, Model.BodyStylesList, new { @class = "form-control" })</div>
                            <br />
                            <button type="submit" class="btn btn-secondary ml-4">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>}
    <table class="table table-bordered table-hover mt-1">
        <thead>
        <td>Make</td>
        <td>Model</td>
        <td>Body Style</td>
        <td>Date Added</td>
        <td>User</td>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ViewModels.Count; i++)
            {
                <tr>
                    <td>@Model.ViewModels[i].Make</td>
                    <td>@Model.ViewModels[i].Model.ModelName</td>
                    <td>@Model.ViewModels[i].BodyStyle</td>
                    <td>@Model.ViewModels[i].Model.DateAdded.ToString("MM/dd/yyyy")</td>
                    <td>@Model.ViewModels[i].StaffMemberEmail</td>
                </tr>
            }
        </tbody>
    </table>
</div>


