@model cloudscribe.Pagination.Models.PagedResult<Car_delearship.Models.VehicleModels.Vehicle>
@{
    ViewData["Title"] = "Showrooom";

    ViewBag.pageNumber = Model.PageNumber;
    ViewBag.totalItem = Model.TotalItems;
    ViewBag.pageSize = Model.PageSize;
}


<link href="~/style/css/StyleSheet.css" rel="stylesheet" />
<style>
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }

    .demo .item {
        margin-bottom: 60px;
    }

    .content-slider li {
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }

    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }

    .demo {
        width: 800px;
    }
</style>
<div class="site_menu">
    <div class="standardContainer">
        <div class="main_logo"><a href="https://www.lisautosales.co.za/"><span class="helper"></span><img src="~/images/Colorlogo.jpg" alt="Lis Auto Sales" style="height: 95px;min-width: 45px" /></a></div>
        <nav class="navbar navbar-expand-lg px-3" id="navBar" style="background:#000000;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">

                <span class="navbar-icon">
                    <i class="fas fa-bars"></i>
                </span>

            </button>

            @*<div class="collapse navbar-collapse" id="myNav">




                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a href="index.php" class="nav-link">Home</a>

                        </li>
                        <li class="nav-item">

                            <a href="#contact" class="nav-link">Contact us</a>
                        </li>

                    </ul>

                </div>*@


            <div class="collapse navbar-collapse" id="myNav">

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active" style="background-color:white ">
                        <a href="index.php" style=" margin-bottom: 37.3px; " class="nav-link"><span>Home</span></a>
                    </li>
                    <li class="nav-item active" style="background-color:cornflowerblue ">
                        <a href="index.php" class="nav-link">Show room</a>
                    </li>
                    <li class="nav-item active" style="background-color:white ">
                        <a href="index.php" class="nav-link">Finance</a>
                    </li>
                    <li class="nav-item" style="background-color:white ">
                        <a href="#contact" class="nav-link">Contact us</a>
                    </li>

                </ul>

            </div>

        </nav>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <div class="menu_button mobile active"></div>
        <div class="menu-main-menu-container">
            @*<ul id="main_menu" class="mainest_menu">
                    <li class="main_menu_item">
                        <a class="" href="https://www.theautoagents.co.za/"><span class="helper"></span>Home</a>
                    </li>
                    <li class="main_menu_item active_li">
                        <a class=" active_menu" href="https://www.theautoagents.co.za/showroom/"><span class="helper"></span>Showroom</a>
                    </li>
                    <li class="main_menu_item">
                        <a class="" href="https://www.theautoagents.co.za/finance/"><span class="helper"></span>Finance</a>
                    </li>
                    <li class="main_menu_item">
                        <a class="" href="https://www.theautoagents.co.za/contact-us/"><span class="helper"></span>Contact Us</a>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
<div class="standardContainer fixed_notice" style="background-color: darkgoldenrod
">
    <div class="notice">
        call us: 082 303 0943
    </div>
</div>
<hr style="border-top: 1px solid darkgoldenrod;margin: 0.1em auto;">

<section style=" margin: 0;
    height: 100%;">

    <style>
        .standardContainer {
            height: auto !important;
        }
    </style>

    <div class="standardContainer">
        @{ int ii = 0;}
        <div class="list-items">
            <div class="list-item" id="test">
                @foreach (var item in Model.Data)
                {
                    <div class="box">


                        @if (ii % 4 == 0 && ii != 0)
                        {
                        @:</div><div class="box mt-1">
















                        }


                        <div class="list-item-image">
                            <div class="main_listing_image">
                                <a href="@Url.Action("VehicleDetails", "Home", new { id = item.VehicleID })">
                                    <img src="@item.image.Substring(item.image.IndexOf('V')).Replace(@"\\\","/")" alt="Maserati Levante" border="0" />
                                </a>
                            </div>

                        </div>

                        <div class="list-item-content list_elements">

                            <h5 style="float:left;">@item.year</h5><h4>R @item.salesPrice.ToString().Replace(@"/\B(?= (\d{ 3})+(? !\d))/ g", " ")</h4> <div class="clear spacer tiny_height_space full_width">&nbsp;</div>
                            <h2><b>@item.makeName</b> @item.ModelName</h2>
                            <div class="clear"></div>
                            <div class="links_div">

                                <div style="display:none">

                                </div>
                                <script type="text/javascript">
                                    var iFrame_1374826386773__25928188 = jQuery("#form-lightbox-1374826386773__25928188 iframe").attr("src");
                                    jQuery(document).ready(function () {
                                        jQuery(".fl_box-1374826386773__25928188").colorbox({
                                            inline: true,
                                            href: "#form-lightbox-1374826386773__25928188",
                                            transition: "1", speed: 350, scrolling: true, opacity: 0.85, returnFocus: true, fastIframe: true, closeBtn: true, escKey: true,
                                            onClosed: function () { jQuery("#form-lightbox-1374826386773__25928188 iframe").attr("src", iFrame_1374826386773__25928188); }
                                        });
                                    });
                                </script>
                                <script>
                                    jQuery(document).ready(function () {
                                        jQuery('#form-lightbox-1374826386773__25928188 input[name=vehicle_enquiry_id]').val('25928188');
                                    });
                                </script>
                                <!--<a href="#">> Vehicle Enquiry</a>--><a href="@Url.Action("VehicleDetails", "Home", new { id = item.VehicleID })">> View Full Details</a>
                            </div>
                            <div class="clear small_space"></div>
                            <p><p>
                                @item.description
                                <b><a href="https://www.theautoagents.co.za/showroom/maserati/levante/25928188/">...read more</a></b>
                            </p></p>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>


                    </div>
                }

            </div>


        </div>
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItems"
                  cs-pagenumber-param="pagenumber"
                  asp-action="Index"
                  asp-controller="Home"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link">

        </cs-pager>

    </div>





</section>
